body {
    background-image: url("../images/crystalbg.jpg");
    background-size: auto;
}

.name {
    border: 3px double pink;
    color: magenta;
    justify-content: center;
    font-size: 36px;
    font-family: 'Impact';
}

.desc {
    color: gold;
}

.goal {
    border: 3px double magenta;
    color: gold;
    font-family: "Impact"
}

.win {
    border: 3px double blue;
    color: green;
    background-color: lightblue;
    font-family: "Impact"
}

.loss {
    border: 3px double blue;
    color: red;
    background-color: lightblue;
    font-family: "Impact"
}

.score {
    color: brown;
    background-color: lightblue;
    border: 3px double gold;
}

footer {
    color: #ffffff;
    background-color: #666666;
    height: 40px;
    font-size: 12px;
}